/*PRESENTATION*/

.container-title{
    width: 940px;
    
}



.my-title{
    width: auto;
    position: relative;
    display: flex;
    left: 50px;
    font-size: 3.25rem;
    line-height: 3.815625rem;
    font-weight: 800;
    font-family: Raleway;
    font-style: normal;
    color: #464646;
    margin: 50px;
}


.description{
    position: relative;
    display: flex;
    left: 50px;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    margin: 50px;   
    color: #464646;
    
    

}

nav{
    width: auto;
}

.social-media{
    width: 940px;
    margin: 0;
    padding: 100px;
    
}


.social-media li{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    width: 16px;
    padding: 80px;
    
}

.social-media #logo{
    width: 60px;
    display: flex;
    

}

.profile-photo img{
    position:absolute;
    display: flex ;
    top: 5em;
    width: 20rem;
    padding: 2px;
    height: 20rem;
    left: 868px;
    border-radius: 20rem;
   
    
}