/*SKILLS*/

.container-skills .skills-tittle{
    text-align: center;
    padding: 2rem;
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}

.skill-section{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    flex-basis: 50%;
    margin: 0 150px;
    padding: 10px 10px;
    font-size: 4rem;
    text-align: center;
    border-radius: 1rem;
}

.pictures-description{
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1rem;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    color: #464646;
    font-weight: 700;
    margin: 0.5rem 0;
}